.sidebar-widget h4 {
    text-transform: uppercase;
}
.sidebar-widget p {
    padding: 0 1.5em 0 1.5em;
    font-size: 0.8em;
    color: #161616;
}
.sidebar-widget .list-space {
    padding: 0 1.5em 0 1.5em;
    font-size: 0.8em;
    font-weight: bold;
    color: #161616;
    text-transform: uppercase;
    padding: 1rem 2rem 1rem 2rem;
    border-bottom: 1px solid #ececec;
    -webkit-transition: 0.8s ease;
    -o-transition: 0.8s ease;
    transition: 0.8s ease;
}
.sidebar-widget .list-space:hover {
    background-color: #161616;
    -webkit-transition: 0.8s ease;
    -o-transition: 0.8s ease;
    transition: 0.8s ease;
    color: white;
}
.sidebar-widget #main-image {
    border-radius: 5px;
    height: 300px;
    -o-object-fit: cover;
    object-fit: cover;
}
.sidebar-widget #printer {
    max-height: 110px;
    position: absolute;
    right: 0;
}
.sidebar-widget #category-text {
    margin-top: -1em;
}
.sidebar-widget .yellow-button {
    background: #ffe51f;
    color: black;
}
.sidebar-widget .rating-die {
    padding: 5px 0 5px 5px;
}
.sidebar-widget .rating-die img {
    margin: 0.2rem;
    max-height: 65px;
}
.sidebar-widget .filtericons {
    max-height: 81px;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0.2;
}
.sidebar-widget .bar {
    width: 100%;
    height: 20%;
    background: black;
    position: absolute;
    bottom: 0;
    border-top: 4px solid white;
}

#product-sku {
    margin-left: 1rem;
}

.sample-request {
    min-height: 100px;
    -webkit-box-shadow: 0 0 40px rgba(193, 143, 0, 0.9) inset;
    box-shadow: 0 0 40px rgba(193, 143, 0, 0.9) inset;
    background-color: #ffeb52;
    background-size: 10px 10px;
    text-align: center;
    position: relative;
}
.sample-request h4 {
    margin-left: 0.5rem;
    color: black;
    margin-top: 1rem;
    font-size: calc(2rem - 1vw);
    font-weight: 800;
}
@media (max-width: 450px) {
    .sample-request h4 {
        width: 70%;
    }
}
@media (max-width: 760px) {
    .sample-request h4 {
        margin-top: 1em;
    }
}
.sample-request img {
    position: absolute;
    top: 0;
    right: 0;
    max-height: 100%;
}

.spec-sheet {
    min-height: 100px;
    -webkit-box-shadow: 0 0 40px rgba(73, 40, 255, 0.9) inset;
    box-shadow: 0 0 40px rgba(73, 40, 255, 0.9) inset;
    background-color: #3574e3;
    background-size: 10px 10px;
    text-align: center;
    position: relative;
}
.spec-sheet h4 {
    margin-left: 0.5rem;
    color: white;
    margin-top: 1rem;
    font-size: calc(2rem - 1vw);
}
@media (max-width: 450px) {
    .spec-sheet h4 {
        width: 70%;
    }
}
@media (max-width: 760px) {
    .spec-sheet h4 {
        margin-top: 1em;
    }
}

.more-images {
    width: 100%;
    position: relative;
    top: -10px;
}
.more-images object {
    height: 72px;
    width: 72px;
    display: inline-block;
    border-radius: 5px;
}
.more-images img {
    height: 72px;
    width: 72px;
    display: inline-block;
    border-radius: 5px;
    margin-bottom: 5px;
    -o-object-fit: cover;
    object-fit: cover;
}

.product-stats {
    text-align: center;
}
.product-stats .stat {
    display: inline-block;
    margin: 3%;
    position: relative;
    left: 15%;
}
.product-stats .stat p {
    font-size: 0.8rem;
}

#product-info {
    -webkit-box-shadow: none;
    box-shadow: none;
    /* Style the tab */
    /* Style the buttons inside the tab */
    /* Change background color of buttons on hover */
    /* Create an active/current tablink class */
    /* Style the tab content */
}
#product-info p {
    font-size: 0.8rem;
}
#product-info div.tab {
    overflow: hidden;
    background-color: white;
}
#product-info div.tab button {
    background-color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 25px 16px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    font-size: calc(0.5rem + 0.3vw);
    font-family: inherit;
    max-height: 50px;
    max-width: 58%;
}
#product-info div.tab button:hover {
    color: #0079c2;
}
#product-info div.tab button.active {
    background: white;
    border: 3px solid #e4e4e4;
    border-radius: 3px;
    border-bottom: none;
    color: #0079c2;
    position: relative;
    top: 3px;
}
#product-info .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 3px solid #e4e4e4;
    border-radius: 3px;
    clear: both;
    padding: 0 1em;
    margin-top: -3px;
}
#product-info .visible {
    display: block;
}
#product-info .info-row p {
    border-bottom: 1px solid #e4e4e4;
    margin: 0.5rem;
}
#product-info .info-row p .info-values {
    margin-left: 20%;
    color: grey;
}

.blue {
    background-color: #0079c2;
}

/* Modal Styles */
/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 9999;
    /* Sit on top */
    padding-top: 20px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: black;
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
}
.modal-content input {
    width: 90% !important;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* End modal Styles */
.cross-ref-table {
    width: 75%;
    height: 500px;
    overflow-y: scroll;
    border: 5px solid;
    padding: 2rem;
    margin: auto;
    text-align: center;
}
.cross-ref-table p {
    display: inline-block;
    width: 200px;
    border-right: 2px solid;
    border-bottom: 2px solid;
    height: 85px;
    margin: 0;
    vertical-align: middle;
}

/* 
 * jQuery Dynatable plugin 0.3.1
 *
 * Copyright (c) 2014 Steve Schwartz (JangoSteve)
 *
 * Dual licensed under the AGPL and Proprietary licenses:
 *   http://www.dynatable.com/license/
 * 
 * Date: Tue Jan 02 2014
 */
th a {
    color: #fff;
}

th a:hover {
    color: #fff;
    text-decoration: underline;
}

.dynatable-search {
    float: right;
    margin-bottom: 10px;
    width: 40%;
}

table.cross-table td {
    padding: 0.6rem;
    font-size: 0.8rem;
}

table.cross-table tr:nth-child(even) {
    background: #e4e4e4;
}

.dynatable-pagination-links {
    float: right;
    margin-top: 0;
}

select#dynatable-per-page- {
    width: 30%;
}

.dynatable-record-count {
    display: block;
    padding: 5px 0;
}

.dynatable-pagination-links span,
.dynatable-pagination-links li {
    display: inline-block;
}

.dynatable-page-link,
.dynatable-page-break {
    display: block;
    padding: 5px 7px;
}

.dynatable-page-link {
    cursor: pointer;
}

.dynatable-active-page,
.dynatable-disabled-page {
    cursor: text;
}

.dynatable-active-page:hover,
.dynatable-disabled-page:hover {
    text-decoration: none;
}

.dynatable-active-page {
    background: #ffe51f;
    border-radius: 5px;
    color: #000;
}

.dynatable-active-page:hover {
    color: #fff;
}

.dynatable-disabled-page,
.dynatable-disabled-page:hover {
    background: none;
    color: #999;
}

table.cross-table {
    background: white;
    -webkit-box-shadow: 0px 0px 19px 0px #c3c3c3;
    box-shadow: 0px 0px 19px 0px #c3c3c3;
    border-collapse: collapse;
}

th.dynatable-head {
    background: #1778be;
    padding: 0.8rem;
}

/* End Table Styles */
