html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

// Base Site Styles
body {
    margin: 0;
    padding: 0;
}

::selection {
    background: $blue;
    color: $white;
}

table {
    width: 100%;
    tr:nth-child(2n) {
        background: #e4e4e4;
    }
    td {
        padding: 0.6rem;
        font-size: 0.8rem;
    }
    &.dynatable-loaded,
    &.cross-table {
        th {
            background: $blue;
            padding: 0.4rem;
            line-height: 1.1;
            a {
                color: white !important;
                white-space: nowrap;
                text-decoration: none !important;
            }
        }
    }
}

// ---
// General Structure
// ---
.page-wrap {
    max-width: $screen-lg;
    margin: 0 auto;
    float: none;
    padding-right: 1rem;
    padding-left: 1rem;
}

.blue {
    background-color: #0079c2;
    padding: 1rem 2rem;
    margin-bottom: 1rem;
    a {
        color: white;
        &:hover,
        &:focus {
            color: white;
            text-decoration: underline;
        }
    }
}

// ---
// Header
// ---
.global-header-wrapper {
    padding: 1rem 0;
}
.global-header {
    @include bp(sm) {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

// ---
// Main Site Content
// ---
.page-header {
    background: $blue url("../img/blue-bg.jpg") no-repeat center center/cover;
    color: $white;
    padding: 2rem 0;
    .secondary-header {
        margin-top: -1rem;
    }
}
.page-content {
    padding: 1rem 0;
}

// ---
// Footer
// ---
.site-footer {
    background: $black;
    border-top: 1.5rem solid $blue;
    padding: 2rem 0;
    color: $white;
    clear: both;
}
.social-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    font-size: 2rem;
    li:not(:last-child) {
        margin-right: 1rem;
    }
}
.privacy-links {
    list-style: none;
    margin: 0 0 1.5rem;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    li:not(:last-child) {
        margin-right: 1rem;
        white-space: nowrap;
    }
    a {
        color: $white;
    }
    .icon {
        fill: $blue;
        vertical-align: text-bottom;
    }
}
