/* All Global Forms
   ========================================================================== */

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 2px;
    font-size: 16px;
}

.hs-form-required {
    padding: 0 3px;
}

.hs-form-field {
    margin-bottom: 1rem;
}

.hs-error-msgs {
    background-color: $yellow;
    color: #000;
    border-radius: 4px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    opacity: 0.9;
    text-align: center;
    margin: 0;
    padding: 0;
    list-style: none;
    label {
        font-weight: normal;
        font-size: 0.75rem;
    }
}

.inputs-list {
    margin: 0;
    list-style: none;
    padding: 0;
}

.hs-form-radio {
    display: inline-block;
    margin-right: 1rem;
    margin-bottom: 0.5rem;
}

.hs-form-radio-display span {
    display: inline-block;
    margin-left: 0.25rem;
    line-height: 1.2;
    font-size: 14px;
}

/* One Line Inputs */

body input[type="text"],
body input[type="password"],
body input[type="datetime"],
body input[type="datetime-local"],
body input[type="date"],
body input[type="month"],
body input[type="time"],
body input[type="week"],
body input[type="number"],
body input[type="email"],
body input[type="url"],
body input[type="search"],
body input[type="tel"],
body input[type="color"],
body input[type="file"],
body textarea,
body select {
    width: 100% !important;
    font-family: inherit;
    display: block;
    min-height: 2rem;
    padding: 0.5rem 0.825rem;
    font-size: 16px;
    line-height: 1.5;
    color: #555;
    background-color: #fff;
    border: 1px solid rgba(204, 204, 204, 0.8);
    border-radius: 4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    &:focus {
        outline: 0px none;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset,
            0px 0px 8px rgba(102, 175, 233, 0.6);
    }
}

body form.hs-form fieldset[class*="form-columns"] .hs-input[type="radio"] {
    width: auto;
}

input:focus:valid:not(:placeholder-shown):not(input[type="submit"]) {
    border-color: $green !important;
}

input:focus:invalid:not(:placeholder-shown)::not(input[type="submit"]) {
    border-color: $yellow !important;
}

select {
    background-image: url("../img/sort.svg");
    background-position: calc(100% - 0.5rem) center;
    background-size: 0.6rem 1rem;
    background-repeat: no-repeat;
    appearance: none;
    &::-ms-expand {
        display: none;
    }
}

/* Blog Subscription Form
   ========================================================================== */

#hs_form_target_blog_subscription input[type="radio"],
#hs_form_target_blog_subscription input[type="checkbox"] {
    width: auto;
    margin-right: 10px;
}

/* Multi Column Form
   ========================================================================== */

body form.hs-form fieldset {
    max-width: none;
}

body form.hs-form fieldset .hs-form-field {
    padding: 0 10px 0 0;
}

body form.hs-form fieldset[class*="form-columns"] .input {
    margin-right: 0;
}

body form.hs-form fieldset[class*="form-columns"] .hs-input {
    width: 100%;
}

body form.hs-form fieldset[class*="form-columns"] .hs-input[type="checkbox"] {
    width: auto;
}

@media (max-width: 400px) {
    body form.hs-form fieldset .hs-form-field {
        padding: 0;
    }
    body form.hs-form fieldset.form-columns-3 .hs-form-field,
    body form.hs-form .form-columns-2 .hs-form-field .hs-input,
    body form.hs-form .form-columns-3 .hs-form-field .hs-input {
        width: 100%;
    }
    body
        form.hs-form
        .form-columns-3
        .hs-form-field
        .hs-input[type="checkbox"] {
        width: auto;
    }
}
