// Colors

$red: #bf1717;
$purple: #713f90;
$orange: #f37021;
$yellow: #ffe51f;
$green: #2e8253;
$blue: #0079c2;
$light-blue: #00a4ff;
$grey: #848484;
$dark-grey: #303232;
$white: #ffffff;
$black: #161616;


// Screen sizes
$screen-xs: 25em; // ~400px
$screen-sm: 48em; // ~768px
$screen-md: 64em; // ~1024px
$screen-lg: 75em; // ~1200px
$screen-xl: 87.5em; // ~1400px